<header class="row bucket-list-wrapper">
  <h1 class="title text-center col-md-6 col-md-offset-3">Bucket List</h1>
</header>
<section class="row">
  <form>
    <div class="form-group col-md-6 col-md-offset-3 text-center">
      <button ng-click="newActivity()" class="btn btn-info btn-lg">
        <i aria-hidden="true" class="glyphicon glyphicon-pencil"></i>
        New Activity</button>
    </div>
  </form>
<div class="container">
    <div class="row">
      <div class="adventure biking">
      <div class="col-md-6 adventure-text">
          <p class="title">Biking</p>
          <p class="location">Yosemite</p>
        </div>
            <div class="col-md-6 adventure-buttons">
              <button ng-click="view(1)" class="btn-adventure">Go To Adventure</button>
              <button ng-click="" class="btn-guide">Ask A Guide</button>
            </div>
      </div>
    </div>
    <div class="row">
    <div class="adventure hiking">
    <div class="col-md-6 adventure-text">
       <p class="title">Hiking</p> 
       <p class="location">Grand Canyon</p>
    </div>
        <div class="col-md-6 adventure-buttons">
          <button ng-click="view(2)" class="btn-adventure">Go To Adventure</button>
          <button ng-click="" class="btn-guide">Ask A Guide</button>
        </div>
  </div>
  </div>
  <div class="row">
    <div class="adventure skiing">
    <div class="col-md-6 adventure-text">
      <p class="title">Skiing</p>
      <p class="location">Alaska</p>
      </div>
        <div class="col-md-6 adventure-buttons">
          <button ng-click="view(3)" class="btn-adventure">Go To Adventure</button>
          <button ng-click="" class="btn-guide">Ask A Guide</button>
        </div>
  </div>
  </div>
  <div class="row">
    <div class="adventure snowboarding">
    <div class="col-md-6 adventure-text">
      <p class="title">Snowboarding</p>
      <p class="location">Alpes</p>
      </div>
        <div class="col-md-6 adventure-buttons">
          <button ng-click="view(4)" class="btn-adventure">Go To Adventure</button>
          <button ng-click="" class="btn-guide">Ask A Guide</button>
        </div>
  </div>
  </div>
  </div>
</section>