<header class="row">
</header>
<section class="row">
  <form>
    <div class="form-group col-md-6 col-md-offset-3 text-center">
      <button ng-click="newActivity()" class="btn btn-info btn-lg">
        <i aria-hidden="true" class="glyphicon glyphicon-pencil"></i>
        New Activity</button>
    </div>
  </form>
</section>
<hr>
<section class="row" ng-if="activities">
  <h1 class="text-center h2">Results</h1>
  <ul class="list-unstyled">
    <li ng-repeat="recipe in recipes">
      <section class="well col-md-6 col-md-offset-3">
        <h1 class="h3 col-md-6 text-right" style="margin-top: 0"><a href ng-click="view(activity.id)" >{{activity.name}}</a></h1>
        <div class="col-md-6">
          <button ng-click="edit(activity.id)" class="btn btn-info">Edit</button>
        </div>
      </section>
    </li>
  </ul>
</section>
