<header class="row bucket-list-wrapper">
  <h1 class="title text-center col-md-6 col-md-offset-3">Find Your Adventure</h1>
</header>
<section class="row">

<div class="container">
    <div class="row">
      <div class="adventure biking">
      <div class="col-md-6 adventure-text">
          <p class="title">biking</p>
          <p class="location">Yosemite</p>
        </div>
            <div class="col-md-6 adventure-buttons">
              <button ng-click="" class="btn-adventure">Go To Adventure</button>
              <button ng-click="" class="btn-guide">Ask A Guide</button>
            </div>
      </div>
    </div>
    <div class="row">
    <div class="adventure hiking">
    <div class="col-md-6 adventure-text">
       <p class="title">Hiking</p> 
       <p class="location">Grand Canyon</p>
    </div>
        <div class="col-md-6 adventure-buttons">
          <button ng-click="" class="btn-adventure">Go To Adventure</button>
          <button ng-click="" class="btn-guide">Ask A Guide</button>
        </div>
  </div>
  </div>
  <div class="row">
    <div class="adventure skiing">
    <div class="col-md-6 adventure-text">
      <p class="title">Skiing</p>
      <p class="location">Alaska</p>
      </div>
        <div class="col-md-6 adventure-buttons">
          <button ng-click="" class="btn-adventure">Go To Adventure</button>
          <button ng-click="" class="btn-guide">Ask A Guide</button>
        </div>
  </div>
  </div>
  </div>
</section>